@import  "./../../theme/variables.css";

.article {
  float: left;
  width: 100%;
  border: 1px solid var(--main-color);
  padding: 30px;
  box-sizing: border-box;

  @media (min-width: 500px) {
    width: 50%;
  }
}

.title {
  text-align: center;
  font-size: 22px;
}

.author {
  text-align: center;
  font-size: 16px;
}
